{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>{%block title %}{% endblock %}</title>
    
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      {% block header %}{% endblock %}
      {% block main %}{% endblock %}
      <footer>
        <a href="./">ポータルに戻る</a><br>
        &copy; taste-bitter
      </footer>
    </div>
  </body>
</html>
